<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edeg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet"   th:href="@{css/Auth.css}">
        <title>MyApp</title>
        <meta name="description" content="this is MyApp">
    </head>

    <body>
    <div class="container">
        <div class="signin-signup">
            <form th:action="@{/Auth}" th:object="${user}" method="post" class="sign-in-form">
                <h2 class="title"><span>Se</span> Connecter</h2>
                <div class="txt_field">
                    <input type="text" id="username" name="username" required>
                    <span></span>
                    <label>Username</label>
                </div>
                <div class="txt_field">
                    <input type="password" id="password" name="password" required>
                    <span></span>
                    <label>Mot de pass</label>
                </div>
                <div class="txt_field">
                    <input type="text" id="role" name="role" required>
                    <span></span>
                    <label>Role</label>
                </div>

                <input type="submit" name="action" value="login" class="btn">
                <p class="account-text">Pas un membre? <a href="#" id="sign-up-btn2">S'inscrire</a></p>
            </form>
            <form action="" class="sign-up-form">
                <h2 class="title">S'inscrire</h2>
                <a href="/register" ><input type="button" value="Passager" class="btn"></a>
                <a href="/register"><input type="button" value="Conducteur" class="btn"></a>
                <p class="account-text">vous ete un membre? <a href="#" id="sign-in-btn2">Se Connecter</a></p>
            </form>
        </div>
        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Avez-vous un compte ?</h3>
                    <p></p>
                    <button class="btn" id="sign-in-btn" name="action" value="login">Se Connecter</button>
                </div>
                <img src="Image/image1.svg" alt="" class="image">
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>Vous n'avez pas un compte ?</h3>
                    <p>Commencez avec un compte MYAPP gratuit,
                        Pas de carte de crédit nécessaire!</p>
                    <button class="btn" id="sign-up-btn">S'inscrire</button>
                </div>
                <img src="Image/image2.svg" alt="" class="image">
            </div>
        </div>
    </div>
    <script >
        const sign_in_btn = document.querySelector("#sign-in-btn");
        const sign_up_btn = document.querySelector("#sign-up-btn");
        const container = document.querySelector(".container")
        const sign_in_btn2 = document.querySelector("#sign-in-btn2");
        const sign_up_btn2 = document.querySelector("#sign-up-btn2");

        sign_up_btn.addEventListener("click", () => {
            container.classList.add("sign-up-mode");
        });
        sign_in_btn.addEventListener("click", () => {
            container.classList.remove("sign-up-mode");
        });

        sign_up_btn2.addEventListener("click", () => {
            container.classList.add("sign-up-mode2");
        });
        sign_in_btn2.addEventListener("click", () => {
            container.classList.remove("sign-up-mode2");
        });


    </script>
    </body>

    </html>