<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carpooling Management</title>
    <link rel="stylesheet" th:href="@{css/ridesstyle.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><a href="/rides"><i class="fas fa-home"></i> Accueil</a></li>
        <li><a href="/historie"><i class="fas fa-history"></i> Historique</a></li>
        <li><a href="/notifications"><i class="fas fa-bell"></i> Notifications</a></li>
        <li th:if="${userRole != null && userRole == 'conducteur'}"><a href="/showNewRideForm"><i class="fas fa-car"></i> Add New Ride</a></li>
        <li><a href="/profile"><i class="fas fa-user"></i> Profile</a></li>
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
</nav>



<div class="container">
    <section class="publications">
        <h2><i class="fas fa-hourglass-start"></i> Current Ride</h2>
        <div class="publication-list">

            <div th:each="reservationRides : ${reservationRides}">
                <div class="publication-card">
                    <div class="details-row">
                        <div class="time-route">
                            <div class="time">
                                <strong th:text="${reservationRides.ride.dateDepart}"></strong>
                            </div>
                            <div class="route">
                                <span th:text="${reservationRides.ride.depart}"></span> ➝
                                <span th:text="${reservationRides.ride.destination}"></span>
                            </div>
                            <div class="route">
                                <span><strong>Places Reserved :</strong> </span><span th:text="${reservationRides.reservation.nbr_places}"></span>
                            </div>
                        </div>
                        <div class="price">
                            <span th:text="${'Total : '+ reservationRides.ride.price*reservationRides.reservation.nbr_places + ' DT'}"></span>
                        </div>

                    </div>
                    <div class="driver-row">
                        <div class="driver-info">
                            <img th:src="@{'/path/to/profile-pic.jpg'}" alt="Driver Picture" class="profile-pic">
                            <div>
                                <span th:text="${reservationRides.ride.name}"></span>
                                <span class="rating">⭐</span>
                                <span class="badge">Super Driver</span>
                            </div>
                        </div>

                        <form action="/deleteReservation" method="POST" th:object="${reservation}">
                            <input type="hidden" th:value="${reservationRides.reservation.id}" name="id">
                            <input type="hidden" th:value="${reservationRides.reservation.rideid}" name="rideid">
                            <input type="hidden" th:value="${userId}" name="userid">
                            <input type="hidden" th:value="${reservationRides.reservation.nbr_places}" name="nbr_places">

                            <button type="submit">Annullation</button>
                        </form>


                    </div>
                </div>

            </div>

        </div>
    </section>
</div>

<div class="container">
    <section class="publications">
        <h2><i class="fas fa-close"></i> Past Ride</h2>
        <div class="publication-list">

            <div th:each="reservationRides : ${pasedreservationRides}">
                <div class="publication-card">
                    <div class="details-row">
                        <div class="time-route">
                            <div class="time">
                                <strong th:text="${reservationRides.ride.dateDepart}"></strong>
                            </div>
                            <div class="route">
                                <span th:text="${reservationRides.ride.depart}"></span> ➝
                                <span th:text="${reservationRides.ride.destination}"></span>
                            </div>
                            <div class="route">
                                <span><strong>Places Reserved :</strong> </span><span th:text="${reservationRides.reservation.nbr_places}"></span>
                            </div>
                        </div>
                        <div class="price">
                            <span th:text="${'Total : '+ reservationRides.ride.price*reservationRides.reservation.nbr_places + ' DT'}"></span>
                        </div>

                    </div>
                    <div class="driver-row">
                        <div class="driver-info">
                            <img th:src="@{'/path/to/profile-pic.jpg'}" alt="Driver Picture" class="profile-pic">
                            <div>
                                <span th:text="${reservationRides.ride.name}"></span>
                                <span class="rating">⭐</span>
                                <span class="badge">Super Driver</span>
                            </div>
                        </div>

                        <!-- review -->
                        <form action="/makeReview" method="post" th:object="${rev}">
                            <input type="hidden" name="conducteurid" th:value="${reservationRides.ride.userId}">
                            <input type="hidden" name="author" th:value="${userName}">
                            <input type="text" name="comment" th:field="*{comment}">
                            <button type="submit">Make Review</button>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </section>

</div>
</body>
</html>
