<!DOCTYPE html>
<hmtl lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edeg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" th:href="@{css/profile.css}">
        <title>Profile</title>
        <meta name="description" content="this is MyApp">
    </head>

    <body>
    <section class="container" id="Mon-Profile">

        <div class="title">
            <h1>les informations de votre profile</h1>
            <p>Vous pouvez modifier vos informations ou bloquer vos compte </p>
        </div>

        <div class="center">
            <h2>Passager</h2>

            <div class="con-center">

                <form action="/profile" class="nom" >
                    <div class="txt_field">
                        <label class="org" >Nom :</label>
                        <label class="newlbl" th:text="${user.username}">  </label>
                    </div>
                    <div class="txt_field">
                        <label class="org">Date de Naissance :</label>
                        <label class="newlbl">----/--/--</label>
                    </div>
                    <div class="txt_field">
                        <label class="org">Email/Num.tlf :</label>
                        <label class="newlbl" th:text="${user.email}"></label>
                    </div>
                    <div class="txt_field">
                        <label class="org">Modifier votre compte?</label>
                        <a href="#">Modifier</a>
                    </div>
                </form>

                <form action="" class="prenom" method="post">
                    <div class="txt_field">
                        <label class="org">Role :</label>
                        <label class="newlbl" th:text="${user.role}"></label>
                    </div>
                    <div class="txt_field">
                        <label class="org">Genre :</label>
                        <label class="newlbl"></label>
                    </div>
                    <div class="txt_field">
                        <label class="org">Modifier mot de passe/email?</label>
                        <a href="#">Modifier sécurité</a>
                    </div>
                    <div class="txt_field">
                        <label class="org">Bloquer votre compte?</label>
                        <a href="#" onclick="Click()">Bloquer </a>
                    </div>
                </form>

            </div>

        </div>

    </section><!-- fin mon-profile -->
    <script >
        function Click() {
            var r = confirm("Voulez-vous vraiment bloquer votre compte ?")
        }
    </script>
    </body>

</hmtl>