<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carpooling Management</title>
    <link rel="stylesheet" th:href="@{css/ridesstyle.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
<nav class="navbar">
    <ul>
        <li><a href="/rides"><i class="fas fa-home"></i> Accueil</a></li>
        <li><a href="/historie"><i class="fas fa-history"></i> Historique</a></li>
        <li><a href="/notifications"><i class="fas fa-bell"></i> Notifications</a></li>
        <li th:if="${userRole != null && userRole == 'conducteur'}"><a href="/showNewRideForm"><i class="fas fa-car"></i> Add New Ride</a></li>
        <li><a href="/profile"><i class="fas fa-user"></i> Profile</a></li>
        <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
    </ul>
</nav>

<div class="search-bar">
    <form action="/UserHomePage" method="post" class="filter-form" th:object="${searchCriteria}">
        <div class="input-group">
            <label for="depart" class="fas fa-circle-dot" ></label>
            <input type="text" id="depart" name="depart" placeholder="Départ" required>
        </div>

        <div class="input-group">
            <label for="destination" class="fas fa-circle-dot"></label>
            <input type="text" id="destination" name="destination" placeholder="Destination" required>
        </div>
        <div class="input-group">
            <label for="date" class="fas fa-calendar-day"></label>
            <input type="date" id="date" name="date_depart" min="" required>
        </div>
        <div class="input-group">
            <label for="passengers" class="fas fa-person"></label>
            <input type="number" id="passengers" name="nbr_places" min="1" max="4" placeholder="1 place" required>
        </div>
        <button type="submit" class="btn-search" name="action" value="filter">Rechercher</button>
    </form>
</div>

<div class="container">
    <section class="publications">
        <div class="publication-list">

            <div th:each="ride : ${listRides}">
                <div class="publication-card">
                    <div class="details-row">
                        <div class="time-route">
                            <div class="time">
                                <strong th:text="${ride.dateDepart}"></strong>
                            </div>
                            <div class="route">
                                <span th:text="${ride.depart}"></span> ➝
                                <span th:text="${ride.destination}"></span>
                            </div>
                            <div class="route">
                                <span><strong>Places disponibles : </strong> </span><span th:text="${ride.nbrPlaces}"></span>
                            </div>
                        </div>
                        <div class="price">
                            <span th:text="${ride.price + ' DT'}"></span>
                        </div>
                    </div>
                    <div class="driver-row">
                        <div class="driver-info">
                            <img th:src="@{'/path/to/profile-pic.jpg'}" alt="Driver Picture" class="profile-pic">
                            <div>
                                <span th:text="${ride.name}"></span>
                                <span class="rating" >⭐</span>
                                <span class="badge">Super Driver</span>
                            </div>
                        </div>

                        <form action="/saveReservation" method="POST" th:object="${reservation}" class="reserve-form" >
                            <input type="hidden" th:value="${ride.id}" name="rideid"><!-- fi blaset th:field="*{rideid}" th:value="${ride.id}"  -->
                            <input type="hidden" th:value="${userId}" name="userid">
                            <div class="input-group">
                                <input type="number" name="reserve_place" placeholder="nbr places" min="1" max="4" th:field="*{nbr_places}" required>
                            </div>
                            <button type="submit">Réserver</button>
                        </form>

                    </div>
                </div>

            </div>

        </div>
    </section>

</div>
<script>
    const today = new Date().toISOString().split('T')[0];
    document.getElementById('date').setAttribute('min', today);
</script>
</body>
</html>
