<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{css/register.css}">
    <title>S'inscrire passager</title>
    <meta name="description" content="This is MyApp">
</head>

<body>
<div class="center">
    <div class="con-center">
        <form th:action="@{/riderregister}" th:object="${user}" class="container" method="POST">
            <h1>S'inscrire</h1>
            <div class="con-lbl">
                <div class="txt_field2">
                    <div class="text">
                        <input type="text" placeholder="Nom" id="name" name="name" th:field="*{username}" required>
                        <span></span>
                    </div>
                </div>

                <div class="txt_field2">
                    <div class="text">
                        <input type="text" placeholder="Email" id="email" name="email" th:field="*{email}" required>
                        <span></span>
                    </div>
                    <div class="text">
                        <input type="text" placeholder="Role" id="role" name="role" value="conducteur" required>
                        <span></span>
                    </div>
                </div>

                <div class="txt_field2">
                    <div class="text">
                        <input type="password" placeholder="Mot de passe" id="password" name="password" th:field="*{password}" required>
                        <span></span>
                    </div>
                    <div class="text">
                        <input type="password" placeholder="Confirmer" required>
                        <span></span>
                    </div>
                </div>
            </div>
            <button class="btn" type="submit">S'inscrire</button>
        </form>

        <form action="/register" class="Image" method="POST">
            <p>Nous prenons le temps de connaître chacun de nos membres, que vous puissiez réserver votre trajet en toute simplicité sur notre plateforme sécurisée.</p>
            <img th:src="@{/image/undraw_insert_block_re_4t4l.svg}" alt="Illustration">
        </form>
    </div>
</div>
</body>

</html>
